apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: crossplane
  namespace: crossplane-system
spec:
  interval: 1m
  chart:
    spec:
      chart: crossplane
      version: "1.15.0"
      sourceRef:
        kind: HelmRepository
        name: crossplane-stable
        namespace: flux-system
